In [26]:
import pandas as pd

df1 = pd.DataFrame({'col1':[1,2,3,7], 'col2':[2,3,4,8]})
df2 = pd.DataFrame({'col1':[4,2,5,8], 'col2':[6,3,5,8]})

print(df1)
print(df2)
print(df2[~df2.isin(df1).all(1)])
print(df2[(df2!=df1)].dropna(how='all'))
print(df2[~(df2==df1)].dropna(how='all'))

   col1  col2
0     1     2
1     2     3
2     3     4
3     7     8
   col1  col2
0     4     6
1     2     3
2     5     5
3     8     8
   col1  col2
0     4     6
2     5     5
3     8     8
   col1  col2
0   4.0   6.0
2   5.0   5.0
3   8.0   NaN
   col1  col2
0   4.0   6.0
2   5.0   5.0
3   8.0   NaN

In [25]:
print(df1)
print(df2)
%timeit df2[~df2.isin(df1).all(1)]
%timeit df2[(df2!=df1)].dropna(how='all')
%timeit df2[~(df2==df1)].dropna(how='all')

   col1  col2
0     1     2
1     2     3
2     3     4
3     7     8
   col1  col2
0     4     6
1     2     3
2     5     5
3     8     8
2.35 ms ± 528 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)
3.27 ms ± 449 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)
3.22 ms ± 182 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [23]:
df2.isin(df1)

    col1   col2
0  False  False
1   True   True
2  False  False

In [21]:
df2[~df2.isin(df1).all(1)]

   col1  col2
0     4     6
2     5     5

In [28]:
(df2==df1).all(1)

0    False
1     True
2    False
3    False
dtype: bool

In [31]:
df2[~(df2==df1).all(1)]

   col1  col2
0     4     6
2     5     5
3     8     8